# Data Retrieval

![](banner_data_retrieval.jpg)

In [2]:
f = "setup.R"; for (i in 1:10) { if (file.exists(f)) break else f = paste0("../", f) }; source(f)

## Introduction

Motivation, context, history, related topics ...

## Terms

| IT                              | Statistics     | Other Fields                        | Example                    |
| :------------------------------ | -------------- | ----------------------------------- | -------------------------- |
| database<br> table              | population     | dataset<br> dataframe               | ![](table.jpg)             |
| row #<br> row name<br> record # | observation #  |                                     | ![](row_number.jpg)        |
| column name                     | variable       | feature<br> attribute<br> dimension | ![](column_name.jpg)       |

## Data Retrieval from Internal Source

In [3]:
data = data.frame(x1=c("A","B","A","B","A","B"),
                  x2=c("C","D","E","C","D","E"),
                  x3=c(100,102,101,103,105,104),
                  x4=c(205,204,200,201,202,203))

data

  x1 x2 x3  x4
1 A  C  100 205
2 B  D  102 204
3 A  E  101 200
4 B  C  103 201
5 A  D  105 202
6 B  E  104 203

## Data Retrieval from External Source

In [4]:
data = read.csv("my_dataset.csv")
data

  x1 x2 x3  x4
1 A  C  100 205
2 B  D  102 204
3 A  E  101 200
4 B  C  103 201
5 A  D  105 202
6 B  E  104 203

## Further Reading

* References coming soon ...

<p style="text-align:left; font-size:10px;">
Copyright (c) Berkeley Data Analytics Group, LLC
<span style="float:right;">
Document revised July 18, 2019
</span>
</p>