In [1]:
f = "setup.R"; for (i in 1:10) { if (file.exists(f)) break else f = paste0("../", f) }; source(f)
options(repr.matrix.max.rows=100)
output_size(9,4.5)
                                
PARTY_COLOR = c(DEM=PALETTE[1], REP=PALETTE[2], LIB=PALETTE[4], GRE=PALETTE[3], NON="gray60", IND="gray60", UN="gray60", CON="gray60", OTH="gray60", UNK="gray60")

In [8]:
clock.start()
data.xaction = read.csv("itcont.txt", header=FALSE, sep="|") # may take about 12 minutes
clock.stop()

Time difference of 8.56842 mins

In [9]:
header = read.csv("indiv_header_file.csv", header=FALSE, stringsAsFactor=FALSE)
colnames(data.xaction) = header[1,]

In [10]:
data.xaction.california = data.xaction[data.xaction$STATE == "CA",]
size(data.xaction.california)
fmt(data.xaction.california[1:3,], "First few observations:", position="left")

  observations variables
1 1244098      21

CMTE_ID,AMNDT_IND,RPT_TP,TRANSACTION_PGI,IMAGE_NUM,TRANSACTION_TP,ENTITY_TP,NAME,CITY,STATE,ZIP_CODE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,OTHER_ID,TRAN_ID,FILE_NUM,MEMO_CD,MEMO_TEXT,SUB_ID
C00638478,T,TER,P2018,201901289144040160,15C,CAN,"JANOWICZ, PHILIP",BUENA PARK,CA,906211685,FRIENDS OF PHIL JANOWICZ,CANDIDATE,1282019,33000,H8CA39133,3703296,1307800,,CONVERTING PRIMARY LOAN TO CONTRIBUTION,4021220191639267840
C00638478,T,TER,P2018,201901289144040160,15,IND,"STEVENS, RICHARD",DIAMOND BAR,CA,917653902,NOT EMPLOYED,NOT EMPLOYED,1252019,-50,,3703278,1307800,,CHECK LOST,4021220191639267840
C00638478,T,TER,P2018,201901289144040160,15C,CAN,"JANOWICZ, PHILIP",BUENA PARK,CA,906211685,FRIENDS OF PHIL JANOWICZ,CANDIDATE,1282019,59816,H8CA39133,3703293,1307800,,CONVERTING PRIMARY LOAN TO CONTRIBUTION,4021220191639267840

In [14]:
write.table(data.xaction.california, "itcont-california.txt", quote=FALSE, sep="|", col.names=FALSE, row.names=FALSE)