# Francis Bacon

![]()

Social Network

In [3]:
f = "setup.R"; for (i in 1:10) { if (file.exists(f)) break else f = paste0("../", f) }; source(f)                                                     
update_geom_defaults("point", list(size=0.01, colour=PALETTE[1]))
update_geom_defaults("vline", list(color="black", size=0.15))

## Situation

## Business Model

### Influence Diagram

<img src="" align=left width=600 />

## Data

In [ ]:
datax.people = read.csv("SDFB_people_2019_11_18.csv")[1:1380,]

In [49]:
current_year = 1600

In [78]:
datax.people = read.csv("SDFB_people_2019_11_18.csv")[1:1380,]

datax.people[1380,]

datax.people$birth_year = as.numeric(as.character(datax.people$birth_year))
datax.people$death_year = as.numeric(as.character(datax.people$death_year))

# class(datax.people$birth_year)
# class(datax.people$death_year)
# length(which(is.na(datax.people$birth_year)))

# datax.people = datax.people[(datax.people$birth_year < current_year) & (datax.people$death_year > current_year), 1:2]


# size(datax.people)
# head(datax.people) %>% caption("First few observations ...", position="left")

     id       display_name                                         first_name
1380 10054709 Lady Honora Ardglass nee. Boyle Countess of Ardglass Honora
     last_name           created_by
1380 Ardglass nee. Boyle 389
     historical_significance
1380 Wife of Thomas Cromwell 3rd Earl of Ardglass, Frances Cuffe and Captain Sir Thomas Burdett
     prefix suffix title                birth_year_type birth_year
1380 Lady          Countess of Ardglass BF              1699
     death_year_type death_year gender approved_by approved_on
1380 IN              1710/11    female 4           2016-01-23 17:13:28.195838
     odnb_id created_at                 updated_at
1380 NA      2016-01-23 17:10:00.997271 2016-01-23 17:13:28.195320
     search_names_all
1380 Lady Honora, Lady Honora Ardglass nee. Boyle, Lady Honora Ardglass nee. Boyle Countess of Ardglass, Lady Ardglass nee. Boyle, Honora, Honora Ardglass nee. Boyle, Honora Ardglass nee. Boyle Countess of Ardglass
     citation aliases
1380

Warning message in eval(expr, envir, enclos):
"NAs introduced by coercion"

In [24]:
datax.rel =  read.csv("SDFB_relationships_2019_11_18.csv")
size(datax.rel)
head(datax.rel) %>% caption("First few observations ...", position="left")

  observations variables
1 171548       12

id,person1_index,person2_index,max_certainty,original_certainty,created_by,start_date_type,start_year,end_date_type,end_year,approved_by,citation
100047969,10002248,10002250,81,81,2,AF/IN,1542,BF/IN,1589,2,
100201025,10002157,10001533,60,60,476,AF/IN,1566,BF/IN,1621,5,"William Bradford, ""Of Plimoth Plantation"""
100200986,10050002,10000252,100,100,5,AF/IN,1616,BF/IN,1673,5,
100093295,10004588,10013294,75,11,2,AF/IN,1535,BF/IN,1577,2,
100201027,10008901,10001903,60,60,5,AF/IN,1561,BF/IN,1581,5,Bynneman printed North's 1575 translation The philosopher of the court (STC (2nd ed.) / 19832)
100201026,10008901,10008908,60,60,5,AF/IN,1561,BF/IN,1581,5,"Blanding, Michael. â€œPlagiarism Software Unveils a New Source for 11 of Shakespeareâ€™s Plays.â€ The New York Times, February 7, 2018, sec. Books. https://www.nytimes.com/2018/02/07/books/plagiarism-software-unveils-a-new-source-for-11-of-shakespeares-plays.html."

In [4]:
datax.people = read.csv("SDFB_people_2019_11_18.csv")[,c(1,2,6,14)]
size(datax.people)
head(datax.people) %>% caption("First few observations ...", position="left")

  observations variables
1 15867        4

id,display_name,historical_significance,gender
10000023,John Abercromby,Benedictine monk,male
10010033,Valentine Pyne,naval officer and soldier,male
10004750,John Gedde,apiculturist,male
10000006,Tomas ab Ieuan ap Rhys,poet,male
10000007,Maredudd ab Ieuan ap Robert,,male
10000005,Gruffudd ab Ieuan ap Llywelyn Fychan,poet,male

In [5]:
datax.rel =  read.csv("SDFB_relationships_2019_11_18.csv")[,2:3]
size(datax.rel)
head(datax.rel) %>% caption("First few observations ...", position="left")

  observations variables
1 171548       2

person1_index,person2_index
10002248,10002250
10002157,10001533
10050002,10000252
10004588,10013294
10008901,10001903
10008901,10008908

In [6]:
nrow(datax.people)^2

[1] 251761689

In [7]:
extras = setdiff(unique(c(datax.rel[,1], datax.rel[,2])), unique(datax.people[,1]))
extras

datax.rel.lean = datax.rel[!(datax.rel[,1] %in% extras) & !(datax.rel[,2] %in% extras),]
size(datax.rel.lean)

[1] 10050190

  observations variables
1 171547       2

In [8]:
g = graph_from_data_frame(datax.rel.lean, directed=FALSE, vertices=datax.people)

In [9]:
data.frame(size=ecount(g),
           order=vcount(g),
#            diameter=diameter(g),
#            average_path_length=mean_distance(g),
           density=edge_density(g),
           giant=max(components(g, "strong")$csize))#,
#            smallworldness=smallworldness(data)[1]) %>% caption("network-level statistics", row.names=FALSE)

  size   order density     giant
1 171547 15867 0.001362859 13019

In [21]:
statistics = data.frame(indegree=degree(g, mode="in"),
                        outdegree=degree(g, mode="out"))#,
#                         betweenness=betweenness(g),
#                         closeness=closeness(g, mode="out"),
#                         eccentricity=eccentricity(g, mode="out"),
#                         eigencentrality=evcent(g, directed=TRUE)$vector)


measure = sort(degree(g, mode="out"), decreasing=TRUE)[1:15]
data.frame(person=vertex_attr(g, "display_name", names(measure)), outdegree=measure, row.names=NULL)

   person                         outdegree
1  King Charles II                2305
2  King Charles I                 1982
3  King James I and VI            1904
4  King James II and VII          1461
5  King Henry VIII                1147
6  Queen Elizabeth I              1101
7  King William III and II        1100
8  Archbishop William Laud         777
9  Lord Protector Oliver Cromwell  766
10 Anthony Wood                    766
11 King Edward VI                  713
12 William Cecil                   697
13 Queen Anne                      672
14 Robert Cecil                    668
15 King George I                   629

In [22]:
measure = sort(betweenness(g), decreasing=TRUE)[1:15]
data.frame(person=vertex_attr(g, "display_name", names(measure)), betweenness=measure, row.names=NULL)

ERROR: Error in sort(betweenness(g), decreasing = TRUE)[1:15, ]: incorrect number of dimensions

<p style="text-align:left; font-size:10px;">
Copyright (c) Berkeley Data Analytics Group, LLC
<span style="float:right;">
Document revised October 27, 2019
</span>
</p>