# Cross-Tabulation

![](banner_cross-tabulation.jpg)

In [2]:
f = "setup.R"; for (i in 1:10) { if (file.exists(f)) break else f = paste0("../", f) }; source(f)

## Introduction

### Motivation

### Synopsis
Reform a dataset by treating some variable values as variable names, and using a statistic to summarize the remaining variable values.  Do this to switch rows and columns, group values, and aggregate groups of values.

## Terms

* Identifier Variables
  * Variables with _values_ that will be used as row names or column names in the cross table.


* Measure Variables
  * Variables with _names_ that will be used as row names or column names in the cross table.


* Long Table
  * Table in which all row names and column names to be used in the cross table are represented as variable values.


* Cross-Table

<table style="width:100%">
    <thead>
        <tr>
            <th style="width:12%">IT</th>
            <th style="width:13%">Statistics</th>
            <th style="width:25%"></th>
            <th style="width:25%"></th>
            <th style="width:25%"></th>
        </tr>
    </thead>
    <tr>
        <td></td>
        <td>identifier variables</td>
        <td><img src="ID.jpg"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>measure variables</td>
        <td><img src="measure.jpg"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>pivot table</td>
        <td>cross-table</td>
        <td><img src="cross-table-1.jpg"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>pivot table</td>
        <td>cross-table (summary)</td>
        <td><img src="cross-table-2.jpg"></td>
        <td><img src="cross-table-3.jpg"></td>
        <td></td>
    </tr>
    <tr>
        <td>pivot table</td>
        <td>cross-table (collapsed summary)</td>
        <td><img src="cross-table-4.jpg"></td>
        <td><img src="cross-table-5.jpg"></td>
        <td><img src="cross-table-6.jpg"></td>
    </tr>
    <tr>
        <td>pivot table</td>
        <td>cross-table (multi-level)</td>
        <td><img src="cross-table-7.jpg"></td>
        <td></td>
        <td></td>
    </tr>
</table>

## Data

Consider the following pedagogical dataset called `data`.

In [21]:
data = data.frame(date=c("2020-12-18","2020-12-19","2020-12-20", "2020-12-21", "2020-12-22","2020-12-23","2020-12-24", "2020-12-25","2020-12-26","2020-12-27","2020-12-28","2020-12-29","2020-12-30","2020-12-31","2021-01-01","2021-01-02","2021-01-03","2021-01-04","2021-01-05","2021-01-06","2021-01-07"),
                  month=c("December", "December", "December", "December", "December", "December", "December", "December", "December", "December", "December", "December", "December", "December", "January", "January", "January", "January", "January", "January", "January"),
                  dow=c("Friday", "Saturday", "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday"),
                  x1=c(1, 3, 8, 2.5, 1, 3, 8, 2.5, 2, 9, 6.5, 8, 4, 7.2, 10.5, 3, 23, 12, 20, 14, 15),
                  x2=c(9.5, 9.5, 10, 9, 9.5, 9.5, 10, 9, 9.6, 10.3, 11, 2.5, 8.5, 8, 7.5, 3, 23, 12, 20, 10, 11),
                  x3=c(9.5, 9.5, 10, 9, 12, 11, 2, 9, 10, 1, 2, 1.5, 10.5, 10.7, 11, 3, 23, 12, 20, 15, 12))
fmt(data)

date,month,dow,x1,x2,x3
2020-12-18,December,Friday,1.0,9.5,9.5
2020-12-19,December,Saturday,3.0,9.5,9.5
2020-12-20,December,Sunday,8.0,10.0,10.0
2020-12-21,December,Monday,2.5,9.0,9.0
2020-12-22,December,Tuesday,1.0,9.5,12.0
2020-12-23,December,Wednesday,3.0,9.5,11.0
2020-12-24,December,Thursday,8.0,10.0,2.0
2020-12-25,December,Friday,2.5,9.0,9.0
2020-12-26,December,Saturday,2.0,9.6,10.0
2020-12-27,December,Sunday,9.0,10.3,1.0
2020-12-28,December,Monday,6.5,11.0,2.0
2020-12-29,December,Tuesday,8.0,2.5,1.5
2020-12-30,December,Wednesday,4.0,8.5,10.5
2020-12-31,December,Thursday,7.2,8.0,10.7
2021-01-01,January,Friday,10.5,7.5,11.0
2021-01-02,January,Saturday,3.0,3.0,3.0
2021-01-03,January,Sunday,23.0,23.0,23.0
2021-01-04,January,Monday,12.0,12.0,12.0
2021-01-05,January,Tuesday,20.0,20.0,20.0
2021-01-06,January,Wednesday,14.0,10.0,15.0
2021-01-07,January,Thursday,15.0,11.0,12.0

## Dataset to Aggregate Table

An aggregate table is a special case of a cross-table.  Specify which variables have values to be used as row names in the new aggregate table. Specify which variable to be used as column in the new aggregate table. 

_In R, you can use the **aggregate** function to do this. The row and column specifications can be indicated with the `~` operator which does not require column names to be enclosed in quotes._

In [44]:
aggregate(x1 ~ month, data, mean)

  month    x1
1 December  4.692857
2 January  13.928571

In [23]:
aggregate(x1 ~ dow, data, mean)

  dow       x1
1 Friday     4.666667
2 Monday     7.000000
3 Saturday   2.666667
4 Sunday    13.333333
5 Thursday  10.066667
6 Tuesday    9.666667
7 Wednesday  7.000000

In [24]:
aggregate(x1 ~ month+dow, data, mean)

   month    dow       x1
1  December Friday     1.75
2  January  Friday    10.50
3  December Monday     4.50
4  January  Monday    12.00
5  December Saturday   2.50
6  January  Saturday   3.00
7  December Sunday     8.50
8  January  Sunday    23.00
9  December Thursday   7.60
10 January  Thursday  15.00
11 December Tuesday    4.50
12 January  Tuesday   20.00
13 December Wednesday  3.50
14 January  Wednesday 14.00

In [25]:
aggregate(x1 ~ dow+month, data, mean)

   dow       month    x1
1  Friday    December  1.75
2  Monday    December  4.50
3  Saturday  December  2.50
4  Sunday    December  8.50
5  Thursday  December  7.60
6  Tuesday   December  4.50
7  Wednesday December  3.50
8  Friday    January  10.50
9  Monday    January  12.00
10 Saturday  January   3.00
11 Sunday    January  23.00
12 Thursday  January  15.00
13 Tuesday   January  20.00
14 Wednesday January  14.00

## Dataset to Cross-Table

### Step 1: Convert Dataset to Long Table

From the dataset, determine the identifier variables and measure variables:

* Which variables will not be used in the cross-table?  Remove these variables.
* Which variables have values that will be used as row names or column names in the cross table?  Treat these as _identifier_ variables, too.
* Which variables have names that will be used as row names or column names in the cross table?  Treat these as _measure_ variables.

In the new long table, the column names comprise the identifier variable names and two new columns called `variable` and `value`.  The columns named after identifier variables are populated with the corresponding identifier variable values, but repeated as necessary.  The `variable` column is populated with measure variable names, repeated as necessary.  The `value` column is populated with measure variable values, arranged as appropriate.

_In R, you can use the **melt** function to do this.  The **id.vars** parameter name can be abbreviated to **id**.  The **measure.vars** parameter can be omitted; if so, it will treat all remaining variables as measure variables._

In [30]:
data.long = melt(data[2:6], id.vars=c("month", "dow"), measure.vars=c("x1","x2","x3"))
data.long

    month    dow       variable value
1   December Friday    x1        1.0
2   December Saturday  x1        3.0
3   December Sunday    x1        8.0
4   December Monday    x1        2.5
5   December Tuesday   x1        1.0
6   December Wednesday x1        3.0
7   December Thursday  x1        8.0
8   December Friday    x1        2.5
9   December Saturday  x1        2.0
10  December Sunday    x1        9.0
11  December Monday    x1        6.5
12  December Tuesday   x1        8.0
13  December Wednesday x1        4.0
14  December Thursday  x1        7.2
15  January  Friday    x1       10.5
16  January  Saturday  x1        3.0
17  January  Sunday    x1       23.0
18  January  Monday    x1       12.0
19  January  Tuesday   x1       20.0
20  January  Wednesday x1       14.0
21  January  Thursday  x1       15.0
22  December Friday    x2        9.5
23  December Saturday  x2        9.5
24  December Sunday    x2       10.0
25  December Monday    x2        9.0
26  December Tuesday   x2        9.5
27  December Wednesday x2        9.5
28  December Thursday  x2       10.0
29  December Friday    x2        9.0
30  December Saturday  x2        9.6
... ...      ...       ...      ...
34  December Wednesday x2        8.5
35  December Thursday  x2        8.0
36  January  Friday    x2        7.5
37  January  Saturday  x2        3.0
38  January  Sunday    x2       23.0
39  January  Monday    x2       12.0
40  January  Tuesday   x2       20.0
41  January  Wednesday x2       10.0
42  January  Thursday  x2       11.0
43  December Friday    x3        9.5
44  December Saturday  x3        9.5
45  December Sunday    x3       10.0
46  December Monday    x3        9.0
47  December Tuesday   x3       12.0
48  December Wednesday x3       11.0
49  December Thursday  x3        2.0
50  December Friday    x3        9.0
51  December Saturday  x3       10.0
52  December Sunday    x3        1.0
53  December Monday    x3        2.0
54  December Tuesday   x3        1.5
55  December Wednesday x3       10.5
56  December Thursday  x3       10.7
57  January  Friday    x3       11.0
58  January  Saturday  x3        3.0
59  January  Sunday    x3       23.0
60  January  Monday    x3       12.0
61  January  Tuesday   x3       20.0
62  January  Wednesday x3       15.0
63  January  Thursday  x3       12.0

### Step 2: Convert Long Table to Cross-Table

From the long table, form a specification of the cross-table rows and columns:

* Which columns do not have values that will be used as row names or column names in the cross-table?  Ignore these columns.
* Which columns have values that will be used as row names in the cross-table?  Treat these as cross-table row specifications.
* Which columns have values that will be used as column names in the cross-table?  Treat these as cross-table column specifications.
* Choose an aggregration function, e.g., sum or mean.

In the new cross-table, the row names comprise the unique values of the cross-table row specification, and the column names comprise the unique values of the cross-table column specification, nested if appropriate.  The cross-table is populated with the appropriate `value` column values, aggregated according to the aggregation function. 

_In R, you can use the **dcast** function to do this.  The row and column specifications can be indicated with the `~` operator which does not require column names to be enclosed in quotes._

In [31]:
# Rows: x1, x2, x3;  Columns: days of the week

data.cross = dcast(data.long, variable ~ dow, mean)
data.cross

  variable Friday   Monday    Saturday Sunday   Thursday  Tuesday   Wednesday
1 x1       4.666667  7.000000 2.666667 13.33333 10.066667  9.666667  7.000000
2 x2       8.666667 10.666667 7.366667 14.43333  9.666667 10.666667  9.333333
3 x3       9.833333  7.666667 7.500000 11.33333  8.233333 11.166667 12.166667

In [32]:
# Rows: days of the week;  Columns: x1, x2, x3

data.cross = dcast(data.long, dow ~ variable, mean)
data.cross

  dow       x1        x2        x3
1 Friday     4.666667  8.666667  9.833333
2 Monday     7.000000 10.666667  7.666667
3 Saturday   2.666667  7.366667  7.500000
4 Sunday    13.333333 14.433333 11.333333
5 Thursday  10.066667  9.666667  8.233333
6 Tuesday    9.666667 10.666667 11.166667
7 Wednesday  7.000000  9.333333 12.166667

In [33]:
# Rows: x1, x2, x3;  Columns: days of week nested within months

data.cross = dcast(data.long, variable ~ month+dow, mean)
data.cross

  variable December_Friday December_Monday December_Saturday December_Sunday
1 x1       1.75             4.5            2.50               8.50
2 x2       9.25            10.0            9.55              10.15
3 x3       9.25             5.5            9.75               5.50
  December_Thursday December_Tuesday December_Wednesday January_Friday
1 7.60              4.50              3.50              10.5
2 9.00              6.00              9.00               7.5
3 6.35              6.75             10.75              11.0
  January_Monday January_Saturday January_Sunday January_Thursday
1 12             3                23             15
2 12             3                23             11
3 12             3                23             12
  January_Tuesday January_Wednesday
1 20              14
2 20              10
3 20              15

In [34]:
# Rows: x1, x2, x3;  Columns: months nested within days of week

data.cross = dcast(data.long, variable ~ dow+month, mean)
data.cross

  variable Friday_December Friday_January Monday_December Monday_January
1 x1       1.75            10.5            4.5            12
2 x2       9.25             7.5           10.0            12
3 x3       9.25            11.0            5.5            12
  Saturday_December Saturday_January Sunday_December Sunday_January
1 2.50              3                 8.50           23
2 9.55              3                10.15           23
3 9.75              3                 5.50           23
  Thursday_December Thursday_January Tuesday_December Tuesday_January
1 7.60              15               4.50             20
2 9.00              11               6.00             20
3 6.35              12               6.75             20
  Wednesday_December Wednesday_January
1  3.50              14
2  9.00              10
3 10.75              15

In [35]:
# Rows: days of week nested within months;  Columns: x1, x2, x3

data.cross = dcast(data.long, month+dow ~ variable, mean)
data.cross

   month    dow       x1    x2    x3
1  December Friday     1.75  9.25  9.25
2  December Monday     4.50 10.00  5.50
3  December Saturday   2.50  9.55  9.75
4  December Sunday     8.50 10.15  5.50
5  December Thursday   7.60  9.00  6.35
6  December Tuesday    4.50  6.00  6.75
7  December Wednesday  3.50  9.00 10.75
8  January  Friday    10.50  7.50 11.00
9  January  Monday    12.00 12.00 12.00
10 January  Saturday   3.00  3.00  3.00
11 January  Sunday    23.00 23.00 23.00
12 January  Thursday  15.00 11.00 12.00
13 January  Tuesday   20.00 20.00 20.00
14 January  Wednesday 14.00 10.00 15.00

In [36]:
# Rows: months nested within days of week;  Columns: x1, x2, x3

data.cross = dcast(data.long, dow+month ~ variable, mean)
data.cross

   dow       month    x1    x2    x3
1  Friday    December  1.75  9.25  9.25
2  Friday    January  10.50  7.50 11.00
3  Monday    December  4.50 10.00  5.50
4  Monday    January  12.00 12.00 12.00
5  Saturday  December  2.50  9.55  9.75
6  Saturday  January   3.00  3.00  3.00
7  Sunday    December  8.50 10.15  5.50
8  Sunday    January  23.00 23.00 23.00
9  Thursday  December  7.60  9.00  6.35
10 Thursday  January  15.00 11.00 12.00
11 Tuesday   December  4.50  6.00  6.75
12 Tuesday   January  20.00 20.00 20.00
13 Wednesday December  3.50  9.00 10.75
14 Wednesday January  14.00 10.00 15.00

In [37]:
# Rows: months;  Columns: x1, x2, x3 nested within days of week

data.cross = dcast(data.long, month ~ dow+variable, mean)
data.cross

  month    Friday_x1 Friday_x2 Friday_x3 Monday_x1 Monday_x2 Monday_x3
1 December  1.75     9.25       9.25      4.5      10         5.5
2 January  10.50     7.50      11.00     12.0      12        12.0
  Saturday_x1 Saturday_x2 Saturday_x3 Sunday_x1 Sunday_x2 Sunday_x3 Thursday_x1
1 2.5         9.55        9.75         8.5      10.15      5.5       7.6
2 3.0         3.00        3.00        23.0      23.00     23.0      15.0
  Thursday_x2 Thursday_x3 Tuesday_x1 Tuesday_x2 Tuesday_x3 Wednesday_x1
1  9           6.35        4.5        6          6.75       3.5
2 11          12.00       20.0       20         20.00      14.0
  Wednesday_x2 Wednesday_x3
1  9           10.75
2 10           15.00

In [38]:
# Rows: months;  Columns: days of week nested within x1, x2, x3

data.cross = dcast(data.long, month ~ variable+dow, mean)
data.cross

  month    x1_Friday x1_Monday x1_Saturday x1_Sunday x1_Thursday x1_Tuesday
1 December  1.75      4.5      2.5          8.5       7.6         4.5
2 January  10.50     12.0      3.0         23.0      15.0        20.0
  x1_Wednesday x2_Friday x2_Monday x2_Saturday x2_Sunday x2_Thursday x2_Tuesday
1  3.5         9.25      10        9.55        10.15      9           6
2 14.0         7.50      12        3.00        23.00     11          20
  x2_Wednesday x3_Friday x3_Monday x3_Saturday x3_Sunday x3_Thursday x3_Tuesday
1  9            9.25      5.5      9.75         5.5       6.35        6.75
2 10           11.00     12.0      3.00        23.0      12.00       20.00
  x3_Wednesday
1 10.75
2 15.00

## More about Cross-Tabulation in R

_In R, ou can use the **factor** function to enforce a specific order of column names or row names._

In [40]:
DAY_NAMES

[1] "Sunday"    "Monday"    "Tuesday"   "Wednesday" "Thursday"  "Friday"
[7] "Saturday"

In [41]:
data.cross = dcast(data.long, variable ~ factor(dow, DAY_NAMES), mean)
data.cross

  variable Sunday   Monday    Tuesday   Wednesday Thursday  Friday   Saturday
1 x1       13.33333  7.000000  9.666667  7.000000 10.066667 4.666667 2.666667
2 x2       14.43333 10.666667 10.666667  9.333333  9.666667 8.666667 7.366667
3 x3       11.33333  7.666667 11.166667 12.166667  8.233333 9.833333 7.500000

## Code Templates

### Useful Functions

In [16]:
# DAY_NAMES from setup.R
# help(aggregate) # from stats library
# help(dcast) # from reshape2 library
# help(factor) # from base library
# help(melt)  # from reshape2 library

## Expectations

Know about this:
* How to construct an aggregate table.
* How to construct a cross-table.

## Further Reading

* https://www.r-statistics.com/tag/transpose/

<p style="text-align:left; font-size:10px;">
Copyright (c) Berkeley Data Analytics Group, LLC
<span style="float:right;">
Document revised January 27, 2021
</span>
</p>