# Data Manipulation $\,\, \tiny\text{Analysis Lab | High-Tech Stock Market}$

<img src="banner lab.jpg" align=left>

<br>
This business case analysis is presented as a Jupyter notebook using R analysis software.  It assumes no previous familiarity with Jupyter or R, and so goes into considerable detail about R's structure and functionality as applied to this kind of analysis.

<br>
### Preface: Using R Code
___

Here are a few key concepts about using R code.  Subsequent discussions will elaborate on them.

R is a programming language well-suited to data analysis.

R makes use of **tables** and **vectors** to hold collections of values: 
- **Table:** Holds a (2-dimensional) table of values, indexed by row and column.  Each row has a row number.  Each column has a column number and name, and holds values of a specific type (e.g., continuous values, character string values, or categorical values).  All values in a single column must be of the same type, but any specific column need not have values of the same type as any other column.  Note, a table is sometimes also known as a data frame.


- **Vector:** Holds a (1-dimensional) vector of values, like a column of values, indexed by position.  Each position has a position number.  A vector holds values of a specific type (e.g., continuous values, character string values, or categorical values).  All values contained by a vector must be of the same type.

R also makes use of **functions** to make calculations and/or perform actions (e.g., `max(...)`, `min(...)`).  Each function generally takes some parameters and returns a table, vector, or single value.  A function distinguishes parameters by their order and/or by their names. A function's specific behavior depends on the types of its parameters.

R provides a special function (c) to **concatenate** multiple vectors into a single vector.

<br>
### About the Business Situation & Data
___

Apple, Dell, IBM, and Microsoft are well known in the computer industry. If the computer industry is doing well, then we might expect the stocks of all four to increase in value. If the industry goes down, weâ€™d expect all four to go down as well. How strong is the association among these companies? After all, they compete in some areas. For example, Dell and IBM both sell powerful computer systems designed to power Web sites like Amazon or weather.com

You have available data regarding the monthly returns for Apple, Dell, IBM, and Microsoft for January 1990 through September 2011. The returns are calculated as ...
<br><br>
$\begin{aligned} R_t = \frac{P_t - P_{t-1}}{P_{t-1}} \end{aligned}$
<br><br>
... where $P_t$ is the price of the stock at the end of a month and $P_{t-1}$ denotes the price at the end of the prior month. If multiplied by 100, a return is the percentage change in the value of the stock during the month. The returns are adjusted for accounting activities (such as dividend payments) that would otherwise produce misleading results. The data are from the Center for Research in Security Prices (CRSP).

This analysis is motivated by these questions:
- Investors who buy stocks often buy several to avoid putting all their eggs into one basket. Why would someone who buys stocks care whether the returns for these stocks were related to each other?
- Would investors who are concerned about putting all their eggs into one basket prefer to buy stocks that are positively related, unrelated, or negatively related?

Use these methods and address these questions in your analysis:
- Use correlations to determine whether these three stocks are related to each other? How many correlations are needed?
- Correlations can be fooled by patterns that are not linear or distorted by outliers that do not conform to the usual pattern. Before using correlations, how can the investor check the conditions needed for using a correlation?
- A key lurking variable anytime we look at a scatterplot of two time series is time itself. How can an investor check to see if time is a lurking factor when looking at stock returns?
- Obtain the scatterplots needed to see whether there are patterns that relate the returns of these stocks. Does it matter which stock return goes on the x-axis and which goes on the y-axis? Do you find that the returns are associated? Is the association linear?
- Obtain the correlation matrix that has all of the correlations among these four stocks.
- Look at timeplots of the returns on each stock. Why are these important when looking at time series?
- Summarize your analysis of the association among these returns for an investor who is thinking of buying these stocks. Be sure to talk about stocks, not correlations.

This business case is based on "Statistics for Business" by Stein, Chapter 6, Problem 55.

<br>
### Apparatus
___

In [6]:
# Load some required functions
library(rJava,    verbose=FALSE, warn.conflicts=FALSE, quietly=TRUE)
library(xlsxjars, verbose=FALSE, warn.conflicts=FALSE, quietly=TRUE)
library(xlsx,     verbose=FALSE, warn.conflicts=FALSE, quietly=TRUE) # Also, ensure Java version (32-bit or 64-bit) matches R kernel
library(dplyr,    verbose=FALSE, warn.conflicts=FALSE, quietly=TRUE)

The R system provides us a specific set of commonly used functions.  We can get additional functions by loading specific libraries of functions.  There are hundreds of libraries available.

We use the `library` function (provided by the R system) multiple times to load specific libraries of functions.  In each function usage, the 1st parameter is the name of a library, the 2nd, 3rd, and 4th parameters have to do with system messages and are optional.  The functions result in providing us all of the many functions contained in the libraries, which we can use later.

Preceding the 4 functions is a comment.  Also, immediately following the 3rd function, on the same line, is a comment.

As mentioned in "Using a Jupyter Notebook" above, to execute the R code in a cell, select the cell and press cntl-Enter.

_ About comments:<br>
A comment is text ignored by the R system, but perhaps useful to us.  A comment is described by the `#` symbol, followed by the comment text, through the end of the line. _

_ About functions:<br>
A function is described by a function name, followed by parentheses that enclose the function's parameter values, separated by commas.  The parameters are distinguished either by their position or by explicitly naming them.  Named parameters are described by a parameter name, followed by the `=` symbol, followed by the parameter value.  An example function looks like this:<br>
`melt(data, id=x)` _

_ About TRUE/FALSE values:<br>
The R system recognizes the values `TRUE` and `FALSE`, and their abbreviations `T` and `F`. _

_ About function names; parameter names; and table, vector, and value names:<br>
A name can include upper case and lower case letters - the upper case version of a letter is considered different than the lower case version of that letter.  A name can include numbers, but cannot start with a number.  A name can include the `.` and _ `_` _ characters. _

<br>
### Retrieve Data
___

In [7]:
data = read.xlsx("../DATASETS/DATASET High-Tech Stocks.xlsx", sheetIndex=1, header=TRUE)

The dataset that you will use for this analysis is called ** $\,$ `dataset tech stocks.xlsx` $\,$ **.

To retrieve a dataset, we use the `read.xlsx` function.  This function assumes the dataset is in Excel format. (There are other functions for retrieving datasets that assume different formats.)  The 1st parameter is the filename of the file in which the dataset resides, in this case `dataset tech stocks.xlsx`.  The `sheetIndex` parameter indicates which worksheet in the file has the dataset, in this case the 1st worksheet.  The `header` parameter indicates whether or not the 1st row of the dataset should be interpretted as a column heading, in this case it should.

The result of the function is a table, with each row corresponding to 1 observation in the dataset. We assign it the name `data` so that we can use it later.

_ About strings:<br>
A string is a sequence of characters meant to be interpretted as such, and not to be interpretted as a name.  A string is described by enclosing a sequence of characters within <code>"&#8230;"</code>. _

<br>

In [8]:
dim(data)

[1] 261  12

To confirm that the dataset has been retrieved and assigned, we use the `dim` function, which returns the table's number of rows and the number of columns.  In this case, the table has 261 rows and 12 columns.

<br>

In [9]:
colnames(data)

 [1] "Date"                         "Apple.Return"
 [3] "Dell.Return"                  "IBM.Return"
 [5] "Microsoft.Return"             "Value.weighted.Market.Return"
 [7] "SP.500.Return"                "Price..Dell"
 [9] "Price..Apple"                 "Price..IBM"
[11] "Price..Microsoft"             "Calendar.Date"

To further confirm that the dataset has been retrieved and assigned, we use the `colnames` function, which returns the table's column names.  Note, column names have been automatically renamed to be more convenient for us (certain characters have been substituted with the `.` character).

<br>
### Data Manipulation
___

** (a) To inspect the dataset, slice the table by rows, indicate rows by their indices. **

In [10]:
data[1,]

  Date     Apple.Return Dell.Return IBM.Return Microsoft.Return
1 1990.042 -0.035461    -0.1590909  0.04780877 0.06321839
  Value.weighted.Market.Return SP.500.Return Price..Dell Price..Apple
1 -0.070115                    -0.068817     4.625       34
  Price..IBM Price..Microsoft Calendar.Date
1 98.625     92.5             19900131

To inspect all or part of the dataset, we reference the `data` table retrieved earlier.  We indicate which rows and columns of the table we want with `[...]` notation - specific row indices and column indices separated by a comma and enclosed within brackets.  We start counting row indices and column indices at 1.  If we want all rows, then we can leave the row indices blank and all rows will be assumed.  Similarly, if we want all columns, then we can leave the column indices blank and all columns will be assumed.

So, to inspect the 1st row of data, we reference `data[1,]`.  The row index (in this case just 1 row) is 1.  The column indices are blank and so assumed to be all columns.  Note, the comma is required even though we left the column indices blank.  The output is presented as a table with 12 columns, with headings, each with 1 value per column corresponding to the 1st observation in the dataset.

_ About output:<br>
A table, vector, or value referenced on a line by itself will output the value assigned to it. _

<br>

In [11]:
data[5,]

  Date     Apple.Return Dell.Return IBM.Return Microsoft.Return
5 1990.375 0.050413     0.2941177   0.1120184  0.2586207
  Value.weighted.Market.Return SP.500.Return Price..Dell Price..Apple
5 0.088936                     0.091989      11          41.25
  Price..IBM Price..Microsoft Calendar.Date
5 120        73               19900531

To inpect the 5th row of data, we reference `data[5,]`.  The row index (in this case just 1 row) is 5.

<br>

In [12]:
data[1:3,]

  Date     Apple.Return Dell.Return IBM.Return Microsoft.Return
1 1990.042 -0.035461    -0.1590909  0.04780877 0.06321839
2 1990.125  0.003235     0.3513514  0.06550063 0.06756756
3 1990.208  0.183824     0.2200000  0.02166065 0.12151898
  Value.weighted.Market.Return SP.500.Return Price..Dell Price..Apple
1 -0.070115                    -0.068817     4.625       34.00
2  0.014901                     0.008539     6.250       34.00
3  0.024140                     0.024255     7.625       40.25
  Price..IBM Price..Microsoft Calendar.Date
1  98.625     92.50           19900131
2 103.875     98.75           19900228
3 106.125    110.75           19900330

To inspect the first 3 rows of data, we reference `data[1:3,]`.  We indicate a sequence of indices with the `:` notation - the left side is the start index, the right side is the stop index.  So, the row indices indicated by `1:3` are 1, 2, and 3.  The output is presented as a table with 12 columns, with headings, each with 3 values per column corresponding to the first 3 observations in the dataset.

<br>

In [13]:
data[2:5,]

  Date     Apple.Return Dell.Return IBM.Return Microsoft.Return
2 1990.125  0.003235    0.3513514   0.06550063 0.06756756
3 1990.208  0.183824    0.2200000   0.02166065 0.12151898
4 1990.292 -0.021739    0.1147541   0.02709069 0.04740406
5 1990.375  0.050413    0.2941177   0.11201835 0.25862068
  Value.weighted.Market.Return SP.500.Return Price..Dell Price..Apple
2  0.014901                     0.008539      6.250      34.000
3  0.024140                     0.024255      7.625      40.250
4 -0.028286                    -0.026887      8.500      39.375
5  0.088936                     0.091989     11.000      41.250
  Price..IBM Price..Microsoft Calendar.Date
2 103.875     98.75           19900228
3 106.125    110.75           19900330
4 109.000     58.00           19900430
5 120.000     73.00           19900531

To inspect the 2nd through 5th rows of data, we reference `data[2:5,]`.  The row indices indicated by `2:5` are 2, 3, 4, and 5.

<br>

In [14]:
data[c(1,3),]

  Date     Apple.Return Dell.Return IBM.Return Microsoft.Return
1 1990.042 -0.035461    -0.1590909  0.04780877 0.06321839
3 1990.208  0.183824     0.2200000  0.02166065 0.12151898
  Value.weighted.Market.Return SP.500.Return Price..Dell Price..Apple
1 -0.070115                    -0.068817     4.625       34.00
3  0.024140                     0.024255     7.625       40.25
  Price..IBM Price..Microsoft Calendar.Date
1  98.625     92.50           19900131
3 106.125    110.75           19900330

To inspect the 1st and 3rd rows of the data, we reference `data[c(1,3),]`.  We indicate a sequence of indices with the `c` function.  So, the row indices described by `c(1,3)` are 1 and 3.  Note, the `:` notation would not be appropriate here, because it does not allow skipped indices.  Note also, it would not be appropriate here to describe the row indices without the `c` function because the row indices would not otherwise be distinguisghable from the column indices.  The output is presented as a table with 12 columns, with headings, each with 2 values per column corresponding to the 1st and 3rd observations in the dataset.

<br>
** (b) To inspect the dataset, slice the table by rows and columns, indicate rows and columns by their indices. **

In [15]:
data[1,2]

[1] -0.035461

To inspect the data at the intersection of row 1 and column 2, we reference `data[1,2]`.  Because this references a single value, association with a table is dropped, and the output is presented as single value.

<br>

In [16]:
data[1,1:5]

  Date     Apple.Return Dell.Return IBM.Return Microsoft.Return
1 1990.042 -0.035461    -0.1590909  0.04780877 0.06321839

To inspect only the first 5 columns of the 1st row of data, we reference `data[1,1:5]`.

<br>

In [17]:
data[1:3,1:5]

  Date     Apple.Return Dell.Return IBM.Return Microsoft.Return
1 1990.042 -0.035461    -0.1590909  0.04780877 0.06321839
2 1990.125  0.003235     0.3513514  0.06550063 0.06756756
3 1990.208  0.183824     0.2200000  0.02166065 0.12151898

To inspect only the first 5 columns of the first 3 rows of data, we reference `data[1:3,1:5]`.

<br>

In [18]:
data[c(2,4),c(1:5,7)]

  Date     Apple.Return Dell.Return IBM.Return Microsoft.Return SP.500.Return
2 1990.125  0.003235    0.3513514   0.06550063 0.06756756        0.008539
4 1990.292 -0.021739    0.1147541   0.02709069 0.04740406       -0.026887

To inspect the first 5 columns and the 7th column of the 2nd and 4th rows of data, we reference `data[c(2,4),c(1:5,7)]`.  Note, the `c` function can take a combination of `:`-style sequences and single indices as parameters.

<br>
** (c) To inspect the dataset, slice the table by rows and columns, indicate columns by their names. **

In [19]:
data[1,"Apple.Return"]

[1] -0.035461

<br>

In [20]:
data[1,c("Date","Apple.Return","Dell.Return","IBM.Return","Microsoft.Return")]

  Date     Apple.Return Dell.Return IBM.Return Microsoft.Return
1 1990.042 -0.035461    -0.1590909  0.04780877 0.06321839

<br>

In [21]:
data[1:3,c("Date","Apple.Return","Dell.Return","IBM.Return","Microsoft.Return")]

  Date     Apple.Return Dell.Return IBM.Return Microsoft.Return
1 1990.042 -0.035461    -0.1590909  0.04780877 0.06321839
2 1990.125  0.003235     0.3513514  0.06550063 0.06756756
3 1990.208  0.183824     0.2200000  0.02166065 0.12151898

<br>

In [22]:
data[c(1,3),c("Date","Apple.Return","Dell.Return","IBM.Return","Microsoft.Return","SP.500.Return")]

  Date     Apple.Return Dell.Return IBM.Return Microsoft.Return SP.500.Return
1 1990.042 -0.035461    -0.1590909  0.04780877 0.06321839       -0.068817
3 1990.208  0.183824     0.2200000  0.02166065 0.12151898        0.024255

As a sometimes convenient alternative to referencing columns by their indices, we can indicate them by their names.  Note, column names are described as strings and so must each be enclosed within `"..."`.

<br>
** (d) To inspect the dataset, slice the table by rows and 1 column, indicate the column by its name using \$ notation. **

In [23]:
data$Apple.Return[1]

[1] -0.035461

As a sometimes convenient alternative to referencing columns using the `[...]` notation, if we want just one column, then we can use the `$` notation - a table name followed by the `$` symbol, followed by a column name, followed by row indices enclosed within `[...]`.

So, to inspect the `Apple.Return` column of the 1st row of data, we reference `data$Apple.Return[1]`.  Note, in this notation, the column name is described not as a string, so it is not enclosed within `"..."`.  Note also, because this references a single value, association with a table is dropped, and the output is presented as single value.  (We cannot force the reference to keep an association with a table.)

<br>

In [24]:
data$Apple.Return[1:3]

[1] -0.035461  0.003235  0.183824

To inspect the `Apple.Return` column of the 1st 3 rows of data, we reference `data$Apple.Return[1:3]`.  Note, because these reference vectors of values, associations with tables are dropped, and the outputs are presented as vectors. (We cannot force these references to keep associations with tables.)

<br>

In [25]:
data$Apple.Return[c(1,3)]

[1] -0.035461  0.183824

Similarly, to inspect the `Apple.Return` column of the 1st and 3rd rows of data, we reference `data$Apple.Return[c(1,3)]`.

<br>
** (e) To inspect the dataset, slice the table by rows and columns, indicate the rows by a criterion. **

In [26]:
data[data$Date < 1991,]

   Date     Apple.Return Dell.Return IBM.Return  Microsoft.Return
1  1990.042 -0.035461    -0.1590909   0.04780877  0.06321839
2  1990.125  0.003235     0.3513514   0.06550063  0.06756756
3  1990.208  0.183824     0.2200000   0.02166065  0.12151898
4  1990.292 -0.021739     0.1147541   0.02709069  0.04740406
5  1990.375  0.050413     0.2941177   0.11201835  0.25862068
6  1990.458  0.084848     0.1477273  -0.02083330  0.04109589
7  1990.542 -0.061453    -0.0693069  -0.05106380 -0.12500000
8  1990.625 -0.116429     0.0000000  -0.07547090 -0.07518800
9  1990.708 -0.216216    -0.2553191   0.04417178  0.02439024
10 1990.792  0.060345     0.2142857  -0.00940070  0.01190476
11 1990.875  0.199024     0.2352941   0.08977462  0.13333334
12 1990.958  0.170068     0.4095238  -0.00550060  0.04152249
   Value.weighted.Market.Return SP.500.Return Price..Dell Price..Apple
1  -0.070115                    -0.068817      4.625      34.000
2   0.014901                     0.008539      6.250      34.000
3   0.024140                     0.024255      7.625      40.250
4  -0.028286                    -0.026887      8.500      39.375
5   0.088936                     0.091989     11.000      41.250
6  -0.004196                    -0.008886     12.625      44.750
7  -0.009405                    -0.005223     11.750      42.000
8  -0.091896                    -0.094314     11.750      37.000
9  -0.053843                    -0.051184      8.750      29.000
10 -0.012504                    -0.006698     10.625      30.750
11  0.065744                     0.059934     13.125      36.750
12  0.029513                     0.024828     18.500      43.000
   Price..IBM Price..Microsoft Calendar.Date
1   98.625     92.50           19900131
2  103.875     98.75           19900228
3  106.125    110.75           19900330
4  109.000     58.00           19900430
5  120.000     73.00           19900531
6  117.500     76.00           19900629
7  111.500     66.50           19900731
8  101.875     61.50           19900831
9  106.375     63.00           19900928
10 105.375     63.75           19901031
11 113.625     72.25           19901130
12 113.000     75.25           19901231

To inspect the part of the dataset that satisfies a specific criterion, we again use the `[...]` notation, but indicate the rows we want by TRUE/FALSE expressions involving the columns.  (This is similar to, more more general than, Excel's filtering functionality.)

To inspect only rows where the `Date` column value is less than 1991 (i.e., observations from earlier than the year 1991), we reference `data[data$Date < 1991,]`.  The row indices are indicated by the expression `data$Data < 1991` - every value in the `Date` column is compared to 1991, and rows selected accordingly.  The column indices are blank and so assumed to be all columns.

<br>

In [27]:
data[(data$Date >= 1991) & (data$Date < 1992),]

   Date     Apple.Return Dell.Return IBM.Return  Microsoft.Return
13 1991.042  0.290698     0.22297297  0.12168141  0.30398670
14 1991.125  0.033694     0.11602210  0.02532544  0.05732484
15 1991.208  0.187773     0.12871288 -0.11553400  0.02289157
16 1991.292 -0.191176    -0.17982460 -0.09549940 -0.06713780
17 1991.375 -0.143273     0.05882353  0.04208738  0.10858586
18 1991.458 -0.117021    -0.01010100 -0.08480570 -0.06890660
19 1991.542  0.114458     0.17346939  0.04247104  0.07889909
20 1991.625  0.148541     0.13478261 -0.03125930  0.15986395
21 1991.708 -0.066038     0.02298851  0.06967742  0.04398827
22 1991.792  0.040404    -0.25468160 -0.05186970  0.05477528
23 1991.875 -0.012233    -0.05527640 -0.04620870  0.03595207
24 1991.958  0.110837     0.09042553 -0.03783780  0.14395887
   Value.weighted.Market.Return SP.500.Return Price..Dell Price..Apple
13  0.049078                     0.041518     22.625      55.500
14  0.075847                     0.067281     25.250      57.250
15  0.028923                     0.022203     28.500      68.000
16  0.003322                     0.000346     23.375      55.000
17  0.040732                     0.038577     24.750      47.000
18 -0.044029                    -0.047893     24.500      41.500
19  0.046795                     0.044859     28.750      46.250
20  0.026819                     0.019649     32.625      53.000
21 -0.010975                    -0.019144     33.375      49.500
22  0.017789                     0.011860     24.875      51.500
23 -0.037275                    -0.043928     23.500      50.750
24  0.106778                     0.111588     25.625      56.375
   Price..IBM Price..Microsoft Calendar.Date
13 126.750     98.125          19910131
14 128.750    103.750          19910228
15 113.875    106.125          19910328
16 103.000     99.000          19910430
17 106.125    109.750          19910531
18  97.125     68.125          19910628
19 101.250     73.500          19910731
20  96.875     85.250          19910830
21 103.625     89.000          19910930
22  98.250     93.875          19911031
23  92.500     97.250          19911129
24  89.000    111.250          19911231

To inspect only rows where the `Date` column is between 1991 (inclusive) and 1992 (exclusive), (i.e., observations from the year 1991), we reference `data[(data$Date >= 1991) & (data$Date < 1992),]`.  The row indices are again indicated by an expression, this time a complex expression using the AND operator (`&`) to get the intersection of 2 sets of row indices.  The column indices are blank and so assumed to be all columns.

<br>

In [28]:
data[!((data$Date < 1991) | (data$Date >= 1992)),]

   Date     Apple.Return Dell.Return IBM.Return  Microsoft.Return
13 1991.042  0.290698     0.22297297  0.12168141  0.30398670
14 1991.125  0.033694     0.11602210  0.02532544  0.05732484
15 1991.208  0.187773     0.12871288 -0.11553400  0.02289157
16 1991.292 -0.191176    -0.17982460 -0.09549940 -0.06713780
17 1991.375 -0.143273     0.05882353  0.04208738  0.10858586
18 1991.458 -0.117021    -0.01010100 -0.08480570 -0.06890660
19 1991.542  0.114458     0.17346939  0.04247104  0.07889909
20 1991.625  0.148541     0.13478261 -0.03125930  0.15986395
21 1991.708 -0.066038     0.02298851  0.06967742  0.04398827
22 1991.792  0.040404    -0.25468160 -0.05186970  0.05477528
23 1991.875 -0.012233    -0.05527640 -0.04620870  0.03595207
24 1991.958  0.110837     0.09042553 -0.03783780  0.14395887
   Value.weighted.Market.Return SP.500.Return Price..Dell Price..Apple
13  0.049078                     0.041518     22.625      55.500
14  0.075847                     0.067281     25.250      57.250
15  0.028923                     0.022203     28.500      68.000
16  0.003322                     0.000346     23.375      55.000
17  0.040732                     0.038577     24.750      47.000
18 -0.044029                    -0.047893     24.500      41.500
19  0.046795                     0.044859     28.750      46.250
20  0.026819                     0.019649     32.625      53.000
21 -0.010975                    -0.019144     33.375      49.500
22  0.017789                     0.011860     24.875      51.500
23 -0.037275                    -0.043928     23.500      50.750
24  0.106778                     0.111588     25.625      56.375
   Price..IBM Price..Microsoft Calendar.Date
13 126.750     98.125          19910131
14 128.750    103.750          19910228
15 113.875    106.125          19910328
16 103.000     99.000          19910430
17 106.125    109.750          19910531
18  97.125     68.125          19910628
19 101.250     73.500          19910731
20  96.875     85.250          19910830
21 103.625     89.000          19910930
22  98.250     93.875          19911031
23  92.500     97.250          19911129
24  89.000    111.250          19911231

As an alternative way to inspect only observations from the year 1991, we reference `data[!((data$Date < 1991) | (data$Date >= 1992)),]`.  The row indices are again indicated by an expression, this time a complex expression using the NOT operator (`!`) and the OR operator (`|`).  The column indices are blank and so assumed to be all columns.

<br>

In [29]:
data[(data$Date >= 1991) & (data$Date < 1992), c("Date", "Apple.Return")]

   Date     Apple.Return
13 1991.042  0.290698
14 1991.125  0.033694
15 1991.208  0.187773
16 1991.292 -0.191176
17 1991.375 -0.143273
18 1991.458 -0.117021
19 1991.542  0.114458
20 1991.625  0.148541
21 1991.708 -0.066038
22 1991.792  0.040404
23 1991.875 -0.012233
24 1991.958  0.110837

To inspect only rows where the `Date` column is between 1991 (inclusive) and 1992 (exclusive), and only the `Date` and `Apple.Return` columns, we reference `data[(data$Date >= 1991) & (data$Date < 1992), c("Date", "Apple.Return")]`.

<br>
** (f) To inspect the dataset, slice the table by first, last, or random rows, and by columns. **

In [30]:
head(data)

  Date     Apple.Return Dell.Return IBM.Return  Microsoft.Return
1 1990.042 -0.035461    -0.1590909   0.04780877 0.06321839
2 1990.125  0.003235     0.3513514   0.06550063 0.06756756
3 1990.208  0.183824     0.2200000   0.02166065 0.12151898
4 1990.292 -0.021739     0.1147541   0.02709069 0.04740406
5 1990.375  0.050413     0.2941177   0.11201835 0.25862068
6 1990.458  0.084848     0.1477273  -0.02083330 0.04109589
  Value.weighted.Market.Return SP.500.Return Price..Dell Price..Apple
1 -0.070115                    -0.068817      4.625      34.000
2  0.014901                     0.008539      6.250      34.000
3  0.024140                     0.024255      7.625      40.250
4 -0.028286                    -0.026887      8.500      39.375
5  0.088936                     0.091989     11.000      41.250
6 -0.004196                    -0.008886     12.625      44.750
  Price..IBM Price..Microsoft Calendar.Date
1  98.625     92.50           19900131
2 103.875     98.75           19900228
3 106.125    110.75           19900330
4 109.000     58.00           19900430
5 120.000     73.00           19900531
6 117.500     76.00           19900629

As a sometimes convenient alternative to referencing rows by their indices or using criteria, we can use the `head` and `tail` functions.

To inspect the first 6 rows of data, we use `head(data)`.  The first parameter is the dataset, in this case `data`.  If no other parameters are provided, then the first 6 rows is assumed.

<br>

In [31]:
head(data, 3)

  Date     Apple.Return Dell.Return IBM.Return Microsoft.Return
1 1990.042 -0.035461    -0.1590909  0.04780877 0.06321839
2 1990.125  0.003235     0.3513514  0.06550063 0.06756756
3 1990.208  0.183824     0.2200000  0.02166065 0.12151898
  Value.weighted.Market.Return SP.500.Return Price..Dell Price..Apple
1 -0.070115                    -0.068817     4.625       34.00
2  0.014901                     0.008539     6.250       34.00
3  0.024140                     0.024255     7.625       40.25
  Price..IBM Price..Microsoft Calendar.Date
1  98.625     92.50           19900131
2 103.875     98.75           19900228
3 106.125    110.75           19900330

To inspect the first 3 rows of data we use `head(data, 3)`.  The 2nd parameter is the number of rows.

<br>

In [32]:
head(data[,2:5])

  Apple.Return Dell.Return IBM.Return  Microsoft.Return
1 -0.035461    -0.1590909   0.04780877 0.06321839
2  0.003235     0.3513514   0.06550063 0.06756756
3  0.183824     0.2200000   0.02166065 0.12151898
4 -0.021739     0.1147541   0.02709069 0.04740406
5  0.050413     0.2941177   0.11201835 0.25862068
6  0.084848     0.1477273  -0.02083330 0.04109589

To inspect the first 6 rows of the 2nd through 5th columns of data we use `head(data[,2:5])`.

<br>

In [33]:
head(data[,c(2,5)])

  Apple.Return Microsoft.Return
1 -0.035461    0.06321839
2  0.003235    0.06756756
3  0.183824    0.12151898
4 -0.021739    0.04740406
5  0.050413    0.25862068
6  0.084848    0.04109589

To inspect the first 6 rows of the 2nd and 5th columns of data we use `head(data[c(2,5)])`.

<br>

In [34]:
head(data$Apple.Return)

[1] -0.035461  0.003235  0.183824 -0.021739  0.050413  0.084848

To inspect the first 6 positions of the `Apple.Return` column of data we use `head(data$Apple.Return)`.

<br>

In [35]:
tail(data)

    Date     Apple.Return Dell.Return IBM.Return Microsoft.Return
256 2011.292  0.004656     0.066161    0.046054   0.020874
257 2011.375 -0.006569     0.039431   -0.005276  -0.028935
258 2011.458 -0.034960     0.036692    0.015509   0.039584
259 2011.542  0.163285    -0.025795    0.060041   0.053846
260 2011.625 -0.014469    -0.084667   -0.050536  -0.023358
261 2011.708 -0.009121    -0.048772    0.017218  -0.064286
    Value.weighted.Market.Return SP.500.Return Price..Dell Price..Apple
256  0.028683                     0.028495     15.470      350.13
257 -0.014934                    -0.013501     16.080      347.83
258 -0.018391                    -0.018258     16.670      335.67
259 -0.022448                    -0.021474     16.240      390.48
260 -0.057470                    -0.056791     14.865      384.83
261 -0.084872                    -0.071762     14.140      381.32
    Price..IBM Price..Microsoft Calendar.Date
256 170.58     25.92            20110428
257 168.93     25.01            20110531
258 171.55     26.00            20110630
259 181.85     27.40            20110731
260 171.91     26.60            20110831
261 174.87     24.89            20110929

To inspect the last 6 rows of data we use `tail(data)`.

<br>

In [36]:
sample_n(data, 6)

    Date     Apple.Return Dell.Return IBM.Return Microsoft.Return
82  1996.792  0.036620    0.04662379  0.03614458 0.04075829
56  1994.625  0.077774    0.16071428  0.11111111 0.12864077
93  1997.708 -0.002874    0.18050267  0.04562269 0.00094563
14  1991.125  0.033694    0.11602210  0.02532544 0.05732484
136 2001.292  0.154961    0.02150900  0.19713000 0.23885700
142 2001.792  0.132173    0.29411800  0.17826000 0.13640800
    Value.weighted.Market.Return SP.500.Return Price..Dell Price..Apple
82  0.013632                     0.026131      81.375      23.0000
56  0.042597                     0.037643      32.500      36.1875
93  0.058433                     0.053154      96.875      21.6875
14  0.075847                     0.067281      25.250      57.2500
136 0.083911                     0.076814      26.240      25.4900
142 0.027970                     0.018099      23.980      17.5600
    Price..IBM Price..Microsoft Calendar.Date
82  129.00     137.2500         19961031
56   68.50      58.1250         19940831
93  106.00     132.3125         19970930
14  128.75     103.7500         19910228
136 115.14      67.7500         20010430
142 108.07      58.1500         20011031

To inspect a random sample of 6 rows of data we use `sample_n(data, 6)`.

<br>
### Further Reading
___
* References to be written ...

$\tiny \text{Copyright (c) Berkeley Data Analytics Group, LLC}$