# Descriptive Statistics $\,\, \tiny\text{Lecture}$

![](banner_descriptive_statistics_9.jpg)

_<p style="text-align: center;"> “The object of statistical science is to discover methods of condensing information concerning<br> large groups of allied facts into brief and compendious expressions suitable for discussion.”<br>- Francis Galton </p>_

In [1]:
cat("<< Notebook apparatus is located here. Toggle cell input display to see code. >>")

<< Notebook apparatus is located here. Toggle cell input display to see code. >>

## Discourse

### Data

In [1]:
data = data.frame(x1=c(3,4,5,4,5,5,8,7,9,9),
                  x2=c(25,42,53,47,51,65,81,79,95,93),
                  x3=c(95,93,81,79,53,47,51,65,42,25),
                  x4=c(22,41,NA,NA,51,63,89,NA,93,97),
                  x5=c("A","B","C","B","B","C","D","B","E","D"))
data

   x1 x2 x3 x4 x5
1  3  25 95 22 A
2  4  42 93 41 B
3  5  53 81 NA C
4  4  47 79 NA B
5  5  51 53 51 B
6  5  65 47 63 C
7  8  81 51 89 D
8  7  79 65 NA B
9  9  95 42 93 E
10 9  93 25 97 D

<br>
## Descriptive Statistics about One Variable
___

In [4]:
class(data$x1)
class(data$x2)
class(data$x3)
class(data$x4)
class(data$x5)

[1] "numeric"

[1] "numeric"

[1] "numeric"

[1] "numeric"

[1] "factor"

In [5]:
length(data$x1) # count

[1] 10

In [6]:
mean(data$x1)

[1] 5.9

In [74]:
median(data$x1)

[1] 5

In [75]:
unique(data$x1)
unique(data$x5)

[1] 3 4 5 8 7 9

[1] A B C D E
Levels: A B C D E

In [92]:
length(unique(data$x1)) # number of unique values
length(unique(data$x5)) # number of unique values

[1] 6

[1] 5

In [77]:
table(data$x1) # frequencies
table(data$x5) # frequencies

3 4 5 7 8 9
1 2 3 1 1 2

A B C D E
1 4 2 2 1

In [78]:
table(data$x1) / length(data$x1) # relative frequencies
table(data$x5) / length(data$x5) # relative frequencies

  3   4   5   7   8   9
0.1 0.2 0.3 0.1 0.1 0.2

  A   B   C   D   E
0.1 0.4 0.2 0.2 0.1

In [79]:
(table(data$x1) / length(data$x1)) * 100 # percent frequencies
(table(data$x5) / length(data$x5)) * 100 # percent frequencies

 3  4  5  7  8  9
10 20 30 10 10 20

 A  B  C  D  E
10 40 20 20 10

In [95]:
as.numeric(names(table(data$x1))[table(data$x1) == max(table(data$x1))]) # mode
factor(names(table(data$x5))[table(data$x5) == max(table(data$x5))], levels=unique(data$x5)) # mode

[1] 5

[1] B
Levels: A B C D E

In [25]:
range(data$x1) # minimum and maximum

[1] 3 9

In [26]:
range(data$x1)[2] - range(data$x1)[1] # range

[1] 6

In [19]:
var(data$x1) # variance

[1] 4.666667

In [20]:
sd(data$x1) # standard deviation

[1] 2.160247

In [28]:
quantile(data$x1) # quartiles

  0%  25%  50%  75% 100%
3.00 4.25 5.50 7.75 9.00

In [29]:
quantile(data$x1, c(0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1)) # percentiles

 10%  20%  30%  40%  50%  60%  70%  80%  90% 100%
 3.9  4.0  4.7  5.0  5.5  6.4  7.3  8.2  9.0  9.0

In [30]:
IQR(data$x1) # inter-quartile range = 75th percentile minus 25th percentile

[1] 3.5

In [32]:
scale(data$x1) # z-scores

      [,1]
 [1,] -1.3887301
 [2,] -0.9258201
 [3,] -0.4629100
 [4,] -0.9258201
 [5,] -0.4629100
 [6,]  0.0000000
 [7,]  0.9258201
 [8,]  0.4629100
 [9,]  1.3887301
[10,]  1.3887301

<br>
## Descriptive Statistics about Two Variables
___

In [52]:
cov(data$x1, data$x2) # covariance

[1] 49.77778

In [53]:
cor(data$x1, data$x2) # correlation

[1] 0.9882577

<br>
## Descriptive Statistics about Three Variables
___

In [10]:
cor(data[,c("x1","x2","x3")]) # correlations

   x1         x2         x3
x1  1.0000000  0.9736893 -0.8270139
x2  0.9736893  1.0000000 -0.8563633
x3 -0.8270139 -0.8563633  1.0000000

<br>
## Handling Missing Values
___

In [57]:
mean(data$x4)
mean(data$x4, na.rm=TRUE)

[1] NA

[1] 65.14286

In [61]:
cor(data$x1, data$x4)
cor(data$x1[!is.na(data$x4)], data$x4[!is.na(data$x4)])

[1] NA

[1] 0.9939662

In [58]:
cor(data[,c("x1","x2","x3","x4")])

   x1         x2         x3         x4
x1  1.0000000  0.9882577 -0.8713433 NA
x2  0.9882577  1.0000000 -0.8563633 NA
x3 -0.8713433 -0.8563633  1.0000000 NA
x4         NA         NA         NA  1

<br>
## Further Reading
___
* https://www.nasa.gov/sites/default/files/thumbnails/image/mollweide_cycle.gif

$\tiny \text{Copyright (c) Berkeley Data Analytics Group, LLC}$